* {
    box-sizing: border-box;
}

body {
    font-family: "Inter", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: #F5F7FB;
}

.question{
    font-family: 'Karla';
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #293264;
    margin-bottom: 12px;
}

.choices--container {
    margin-top: 0;
    margin-bottom: 15px;
}

.choices {
    font-weight: 500;
    font-size: 15px;
    line-height: 12px;
    text-align: center;
    
    color: #293264;
    margin-right: 13px;
    padding: 4px 9px;
    min-width: 65px;
    height: 25px;

    /* border: 1px solid #4D5B9E; */
    border-radius: 8px;
    background: #F5F7FB;
}

hr {
    margin-bottom: 15px;
    color: #4D5B9E;
}